[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/vim-distinguished"]
	path = bundle/vim-distinguished
	url = https://github.com/Lokaltog/vim-distinguished.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = https://github.com/vim-scripts/closetag.vim.git
[submodule "bundle/conflict-detection"]
	path = bundle/conflict-detection
	url = https://github.com/vim-scripts/ConflictDetection.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/ingo-library"]
	path = bundle/ingo-library
	url = https://github.com/vim-scripts/ingo-library.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = github:godlygeek/tabular
[submodule "bundle/dockerfile"]
	path = bundle/dockerfile
	url = https://github.com/honza/dockerfile.vim
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = https://github.com/mustache/vim-mustache-handlebars
[submodule "bundle/ConflictMotions"]
	path = bundle/ConflictMotions
	url = https://github.com/vim-scripts/ConflictMotions.git
[submodule "bundle/CountJump"]
	path = bundle/CountJump
	url = https://github.com/vim-scripts/CountJump.git
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = github:mxw/vim-jsx
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/vim-flow"]
	path = bundle/vim-flow
	url = https://github.com/facebook/vim-flow
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/scss-syntax"]
	path = bundle/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
